---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty, summary, email } = Astro.props;
---

<section class="py-16 md:py-20" id="hero">
  <h1
    class="mb-2 font-serif text-5xl font-bold tracking-tight text-white sm:text-6xl md:text-7xl"
  >
    {name}
  </h1>
  <p
    class="mb-6 font-serif text-2xl font-bold tracking-tight text-primary sm:text-3xl md:text-4xl"
  >
    {specialty}
  </p>
  <p class="mb-10 text-sm font-normal text-neutral md:text-base max-w-2xl">
    {summary}
  </p>

  <a
    class="inline-block rounded-full bg-primary px-6 py-3 text-sm font-medium text-white"
    href={`mailto:${email}`}
  >
    Get in Touch
  </a>
</section>
